
*.log
Temp/UnityLockfile
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
*.log
Assets/Scenes/Scene_OverWorld.unity
Assets/Scenes/Scene_OverWorld.unity
*.log
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Assets/Scenes/Scene_OverWorld.unity
Library/CurrentLayout.dwlt
Assets/Scenes/Scene_OverWorld.unity
